# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
dist
dist-electron
build
release

# Misc
.DS_Store
*.pem

# Credentials
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database
userData/
*.db
*.db-journal

# VS Code
.vscode/

# Release Guide
RELEASE_GUIDE.md
